
header {
  background: linear-gradient(to left,#45cad0,#45d0c1);
  width: 100%;
  height: 64px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 20px;
}
.logo {
  position: relative;
  width: 144px;
  height: 36px;
}

.content-search{
  position: relative;
  width: 50%;
}

.content-search2{
  width: 100%;
  display: inline-block;
}

.content-input {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #ffffff;
  border-color: rgba(0,0,0,0.06);
  border-radius: 5px;
}

.content-input input{
  width: 100%;
  border: none;
  padding: 10px;
  height: 46px;
  background-color: transparent;
  font-size: 15px;

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
}
.content-input input:focus{
  outline: none;
}

.content-input .icon-search{  
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 20px;
  height: 20px;
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
}

.content_usuario{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.usuario{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 3;
}

.usuario a {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.img-avatar{
  cursor: pointer;
  box-sizing: border-box;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #e1e7ea;
  background-size: cover;
  background-position: center;
}

.usuario span {
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  top: -2px;
  color: #ffffff;
}

.icon-arrow-down{
  cursor: pointer;
  width: 13;
  height: 1em;
  box-sizing: border-box;
  vertical-align: middle;
  color: rgb(255, 255, 255);
}