* {
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}



















.center {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}
/*.header-left {
  float: left;
}*/
.header-left img{
  position: relative;
  width: 144px;
  height: 36px;
}
.header-center {
  position: relative;
  width: 50%;
}
.header-center .search{
  width: 100%;
  display: inline-block;
}
.header-center .search .search-input{
  display: inline-flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
width: 100%;
border: 1px solid rgba(0,0,0,0.2);
background-color: #ffffff;
border-color: rgba(0,0,0,0.06);
border-radius: 5px;
}

.header-center .search .search-input input{
  width: 100%;
border: none;
padding: 10px;
height: 46px;
background-color: transparent;
font-size: 15px;
}

.clear {clear: both;}



